.cities {
	background-color: #f6f6f6;
	margin-top: 20px;
	width: 100%;
}

ul.cities_list {
	padding: 6vw 0;
	width: 84vw;
	margin: auto;
	height: calc(34vw + 6px);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

ul.cities_list li {
	height: 100%;
	width: 32%;
	font-family: Roboto, sans-serif;
	transition: .3s;
	padding: 3px;
}

ul.cities_list li:hover {
	box-shadow: 2px 1px 3px 4px #ccc;
}

ul.cities_list li a {
	width: 100%;
	height: 100%;
	color: #868686;
	display: block;
}

ul.cities_list li img {
	width: 100%;
	display: block;
}

ul.cities_list li h4 {
	margin: 20px 0;
	font-size: calc(1em + 1vw);
	color: #343434;
}

ul.cities_list li p {
	font-size: calc(.9em + .2vw);
}

.city_description {
	margin-bottom: 40px;
}

ul.cities_list li i {
	color: #fa9d4c;
}

.cities_rating {
	height: 20px;
	line-height: 20px;
}

.cities_rating p {
	display: inline;
	float: right;
}


@media (max-width: 1440px) {
	ul.cities_list {
		padding: 5vw 0;
	}

	ul.cities_list li h4 {
		margin: 15px 0;
		font-size: calc(.8em + 1vw);
	}

	ul.cities_list li p {
		font-size: calc(.7em + .2vw);
	}

	.city_description {
		margin-bottom: 20px;
	}
}

@media (max-width: 1024px) {
	ul.cities_list li h4 {
		margin: 15px 0;
		font-size: calc(.6em + 1vw);
	}

	ul.cities_list li p {
		font-size: calc(.5em + .1vw);
	}

	.city_description {
		margin-bottom: 10px;
	}

	.cities_rating {
		height: 15px;
		line-height: 15px;
	}

	.cities_rating i {
		font-size: 0.8em;
	}
}

@media (max-width: 768px) {
	ul.cities_list {
		padding: 3vw 0;
	}

	ul.cities_list li h4 {
		margin: 10px 0;
		font-size: calc(.5em + 1vw);
	}

	ul.cities_list li p {
		font-size: calc(.4em + .1vw);
	}

	ul.cities_list li i {
		font-size: calc(.5em + .1vw);
	}
}

@media (max-width: 640px) {
	.cities {
		height: auto;
	}

	ul.cities_list {
		display: block;
		height: auto;
		width: 60%;
		padding: 5vw 0;
	}

	ul.cities_list li {
		height: auto;
		width: 100%;
		margin-bottom: 30px;
	}

	ul.cities_list li h4 {
		font-size: calc(1em + 1vw);
	}

	ul.cities_list li p {
		font-size: calc(.8em + .2vw);
	}
}

@media (max-width: 440px) {

}