.greece_slider {
	background-color: #fff;
	height: 600px;
	width: 100%;
	margin-top: 20px;
}

.slider_text {
	padding-top: 150px;
	margin-left: 8%;
	width: 29%;
	float: left;
}

.slider_text h2, .slider_text h6 {
	font-family: Roboto, sans-serif;
	color: #868686;
}

.slider_text h2 {
	font-weight: 600;
	font-size: 3em;
}

.slider_text h6 {
	margin-top: 45px;
	font-weight: 600;
	font-size: 1em;
}

.slider_text a {
	width: 67%;
	background-color: #3ec6ff;
	font-family: Roboto, sans-serif;
	color: #fff;
	display: block;
	text-align: center;
	margin-top: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 8px;
}

.slider {
	overflow: hidden;
	float: right;
	width: 50%;
	margin-top: 45px;
}

.slider ul {
	width: 100%;
	height: 420px;
	width: 9999px;
	transition: 1s;
	font-size: 0;
}

.slider ul li {
	display: inline-block;
	height: 100%;
}

#image1 {
	background: url('../images/santorini1.jpg') top center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

#image2 {
	background: url('../images/santorini2.jpg') top center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

#image3 {
	background: url('../images/santorini3.jpg') top center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

#image4 {
	background: url('../images/santorini4.jpg') top center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

#image5 {
	background: url('../images/santorini5.jpg') top center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

#image6 {
	background: url('../images/santorini6.jpg') top center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

#image7 {
	background: url('../images/santorini7.jpg') top center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

#image8 {
	background: url('../images/santorini8.jpg') top center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.points {
	margin-top: 50px;
}

.point {
	width: 10px;
	height: 10px;
	background-color: #868686;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
	border: none;
	outline: none;
}

.active_point {
	border: solid 2px #3ec6ff !important;
	background-color: #fff !important;
}



@media (max-width: 1330px) {
	.slider_text {
		padding-top: 100px;
	}
}

@media (max-width: 1130px) {
	.greece_slider {
		height: 500px;
	}

	.slider_text {
		padding-top: 50px;
	}

	.slider_text h2 {
		font-size: 2.6em;
	}

	.slider_text h6 {
		margin-top: 20px;
	}
}

@media (max-width: 1024px) {
	.greece_slider {
		height: 540px;
	}

	.slider_text {
		float: none;
		padding-top: 20px;
		width: 100%;
		margin: 0;
	}

	.slider_text h2 {
		font-size: 2.4em;
		text-align: center;
	}

	.slider_text h6 {
		padding: 0 5%;
		margin-top: 20px;
		font-size: 1em;
		text-align: center;
	}

	.slider_text a {
		margin: auto;
		margin-top: 20px;
		width: 40%;
	}

	.slider {
		float: none;
		width: 80%;
		margin: 20px auto 0 auto;
	}

	.points {
		margin: 20px auto;
		text-align: center;
		clear: both;
	}
}

@media (max-width: 768px) {
	.greece_slider {
		height: 520px;
	}

	.slider_text h2 {
		font-size: 2em;
	}

	.slider_text h6 {
		font-size: .8em;
	}

	.slider_text a {
		height: 35px;
		line-height: 35px;
	}
}

@media (max-width: 768px) {
	.slider_text h2 {
		font-size: 1.7em;
	}

	.slider_text h6 {
		font-size: .7em;
	}
}

@media (max-width: 375px) {
	.slider_text a {
		height: 25px;
		line-height: 25px;
	}
}