.header_logo_navigation {
	height: 115px;
	width: 100%;
	background-color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	position: relative;
}

h1.logo {
	font-family: Kaushan, arial;
	color: #3ec6ff;
	display: flex;
	margin: auto 0 auto 8%;
	font-size: 270%;
}

.show_nav_btn {
	display: none;
}

.navigation {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: auto 8% auto 0;
	width: 57%;
}

.navigation ul {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.navigation ul li {
	margin-left: 6%;
}

.navigation ul li:first-child {
	margin-left: 0;
}

.navigation li a {
	font-family: Roboto, sans-serif;
	font-size: 1.27vw;
}

.navigation li a:hover {
	color: #3ec6ff;
}




@media (max-width: 768px) {
	.navigation {
		display: none;
	}

	h1.logo {
		font-size: 1.5em;
	}

	.header_logo_navigation {
		height: 50px;
		position: sticky;
	}

	.show_nav_btn {
		display: block;
		font-size: 1.5em;
		height: 50px;
		line-height: 50px;
		margin-right: 8%;
	}
}